body {
    box-sizing: border-box;
    /* background-color: rgb(241, 217, 168); */
    background-image: linear-gradient(to bottom-right, rgb(190, 127, 10), red);
    height: auto;
    margin: 0;
    padding: 0;
}

.header {
    background-image: linear-gradient(to right, rgb(26, 27, 27) 20%, rgb(44, 51, 51));
    color: white;
    padding: 3%;
    text-align: center;
    border-radius: 255px 15px 255px 15px;
    font-size: 3rem;
    font-family: 'Vina Sans', sans-serif;
    transition: 1s ease-in-out;
}

.header:hover {
    animation-name: header_a;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    color: rgb(202, 133, 3);
}

.OPC {
    position: relative;
    animation-name: OPC;
    animation-duration: 0.5s;
}

@keyframes OPC {
    0% {
        top: 10px;
    }
    100% {
        top: 0px;
    }
}

.main {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.aside {
    width: 20%;
    height: 100vh;
    box-sizing: border-box;
    float: left;
    border-right: 2px solid transparent;
    margin-right: 1%;
    /* background-color: blueviolet; */
}

.mainn {
    /* background-color: brown; */
    width: 100vw;
    overflow: auto;
}

.article {
    width: 75%;
    margin-left: 2%;
    float: right;
    /* background-color: aqua; */
}

.hmenu {
    box-sizing: border-box;
    width: 98vw;
    margin: auto;
    background-color: rgb(3, 168, 168);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: 355px 355px 355px 355px;
    font-family: 'Abril Fatface', serif;
    overflow: auto;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.label {
    font-family: 'Abril Fatface', serif;
}

.tooltip {
    visibility: hidden;
    display: inline-block;
    position: relative;
    top: 32px;
    /* right: 6rem; */
    right: calc(100%/6);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.938);
    color: white;
    padding: 0.3rem;
    border-radius: 255px;
}

.menuitems {
    display: block;
    padding: 5% 0% 5%;
    font-weight: bolder;
    border-bottom: 1px solid rgb(4, 0, 7);
    transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    font-family: 'Advent Pro', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}

.menuitems:hover {
    background-color: rgb(15, 15, 15);
    color: rgb(230, 170, 8);
    transform: scale(0.9, 1.2);
    border-radius: 255px 255px 255px 255px;
}

.label {
    box-sizing: border-box;
    display: inline-block;
    width: 45%;
}

.input {
    box-sizing: border-box;
    margin: auto;
    display: inline-block;
    width: 50%;
    border-radius: 15% 0% 15% 0%;
}

.main {
    width: 80%;
    margin: auto;
}

input {
    background-color: rgb(76, 78, 77);
    border: 2px solid transparent;
    color: antiquewhite;
    /* border-bottom: none; */
    border-radius: 200px 200px 200px 200px;
    padding: 1%;
    margin: 1%;
    width: 20%;
    transition: width 0.4s ease-in-out;
}

.btn {
    font-family: 'Abril Fatface', serif;
    padding: 1% 0%;
    font-size: 1em;
}

.SR {
    font-family: 'Abril Fatface', serif;
}

.input>input:hover {
    width: 40%;
}

.input:hover .tooltip {
    visibility: visible;
}

@media screen and (max-width:800px) {
    .aside,
    .menuitems {
        width: 100%;
        font-size: 1rem;
        height: auto;
    }
    .aside {
        padding: 1rem;
    }
    .header {
        font-size: 2rem;
    }
    .article {
        width: 100%;
        display: block;
        margin: auto;
    }
    .label {
        width: 30%;
        font-size: 1rem;
    }
    .input {
        width: 50%;
    }
    .btn {
        font-size: small;
    }
}